<h1>Review Pending Scholar</h1>
<%= render 'form', scholar: @pending_scholar %>
<%= link_to 'Reject', @pending_scholar, method: :delete,
                                        data: { confirm: 'Are you sure?' },
                                        class: 'btn btn-danger'
%>
