<div class="card card-small">
  <form id="main_search_form" class="form-search pull-right" action="/search" method="get">
    <input type="text"
           id="q" name="q" class="input-large"
           placeholder="Search for scholars..."
           value=""
           />
    <input type="submit" class="btn btn-small" value="Search (TO-DO)" disabled />
  </form>
</div>
