<div class="card text-black banner">
  <%= image_tag "amesa-landscape-cropped.jpg" %>
  <div class="card-img-overlay">
    <div class="amesa-overlay-text">
      <h2>AMESA</h2>
      <p>Directory of Scholars of Africa, the Middle East, and South Asia</p>
    </div>
  </div>
</div>
