<h2>About</h2>
<p>
  Un nouveau répertoire international gratuit en ligne contenant des
  enregistrements de personnes qui se sont identifiées comme étant
  impliquées dans un aspect de l’étude de l’Afrique, du Moyen-Orient,
  et de l’Asie du Sud. AMESA a été lancé sur le web en septembre 2013.
</p>
<a href="<%= pages_about_path %>" class="btn-sm">En savoir plus sur AMESA</a>
