<h2>S'Inscrire</h2>
<p>
  Soumettre votre nouvelle entrée, faire une mise à jour,
  ou faire un recommandation pour une entrée au nom d’un/une
  collègue (avec son approbation).
</p>
<a href="<%= new_scholar_path %>" class="btn-sm">Soumettre une Scholar</a>
