<h2>Join</h2>
<p>
  Submit your new entry, update an existing entry, or recommend another
  scholar for inclusion (with his/her approval).
</p>
<a href="<%= new_scholar_path %>" class="btn-sm">Submit A New Scholar</a>
