<h2>Search</h2>
<p>
  Search by name or keyword anywhere (e.g. subject of interest, city or
  country, university or affiliation, etc.) in English or French.
</p>
<a href="" class="btn-sm">Perform A Search</a>
