<h2>About</h2>
<p>
  AMESA is a free online international directory containing records of
  individuals who have identified themselves as being involved in any aspect
  of scholarship in the fields of African Studies, Middle Eastern Studies or
  South Asian Studies. AMESA was launched on the web in September 2013.
</p>
<a href="<%= pages_about_path %>" class="btn-sm">More About AMESA</a>
