<h2>Contact Us</h2>
<p>
  Global Studies Division
  <br />
  Columbia University Libraries
  <br />
  e-mail: <a href="mailto:amesa@libraries.cul.columbia.edu">amesa@libraries.cul.columbia.edu</a>
  <br />
  phone: 212-854-8045
</p>
<a href="" class="btn-sm">Send an Email</a>
