<h2>Recherche</h2>
<p>
  Rechercher par nom ou mot-clé (sujet, ville ou pays, université
  ou affiliation, etc.) en anglais ou en français.
</p>
<a href="<%= pages_search_path %>" class="btn-sm">Effectuer une recherche</a>
