<%= render partial: 'banner' %>
<div class="row-fluid">
  <div class="span12">
    <h2>À propos de AMESA</h2>
    <p>
      AMESA est un nouveau répertoire international gratuit en ligne contenant
      des enregistrements de personnes qui se sont identifiées comme étant
      impliquées dans un aspect de l’étude de l’Afrique, du Moyen-Orient, et de
      l’Asie du Sud. AMESA a été lancé sur le web en septembre 2013.
    </p>
    <p>Depuis 1995, les Bibliothèques de l'Université Columbia publiaient
      <i>
	<b>
	  trois Répertoires internationaux des spécialistes en études de l’Afrique,
	  du Moyen-Orient et de l'Asie du Sud
	</b>
      </i>
      , autrement connu comme IDASS, IDMES, et IDSAS. Le nouveau site AMESA
      remplace ces répertoires distincts.
    </p>
    <p>
      Ce répertoire est indexé pour faciliter une recherche (en anglais ou en
      francais) par nom ou par mot-clé (sujet d'intérêt, le pays, une université
      ou appartenance à une organisation, etc) dans la rubrique d’une région du
      monde ou à travers des régions. Chaque entrée de répertoire inclut le
      contact information, une liste de publications, des brèves descriptions de
      la recherche et des activités pédagogiques, des liens Internet pertinents,
      et un ensemble de mots-clés.
    </p>
    <p>
      <b>INFORMATION POUR LES CONTRIBUTEURS</b>
    </p>
    <p>
      Le site AMESA est conçu pour permettre aux chercheurs de soumettre en
      ligne leur propre entrées et de modifier les entrées existantes. Les
      chercheurs/chercheuses qui ont été répertoriés dans les répertoires
      précédents sont encouragés à mettre à jour ou à re-soumettre leurs
      candidatures pour l'inclusion dans AMESA. Les chercheurs/chercheuses
      peuvent également désigner d'autres pour inclusion dans le répertoire.
      Le personnel de la Division « Global Studies » des Bibliothèques de
      l'Université Columbia examinent toutes les entrées avant les afficher et
      maintient la base de données AMESA. Nous pouvons aussi supprimer une
      entrée sur demande.
    </p>
    <p>
      Nous vous invitons à visiter AMESA régulièrement pour regarder les
      ameliorations en cours.
    </p>
    <p>
      Remarque : le contenu de ce site est à des fins éducatives seulement.
    </p>
  </div><!--/span-->
</div><!--/row-->
