<div class="row-fluid">
  <div class="span12">
    <h2>About AMESA</h2>
    <p>
      AMESA is a free online international directory containing records of
      individuals who have identified themselves as being involved in any aspect
      of scholarship in the fields of African Studies, Middle Eastern Studies or
      South Asian Studies.
    </p>
    <p>Since the mid-1990s, Columbia University Libraries sponsored three online
      <i>
	<b>
	  International Directories of African Studies, Middle East Studies, and
	  South Asian Studies Scholars
	</b>
      </i>
      , otherwise known as IDASS, IDMES, and IDSAS.  AMESA is meant to replace
      these separate directories.
    </p>
    <p>
      This directory is indexed, allowing readers to do a full text search (in
      English or in French) by name or keyword (e.g. subject of interest, city
      or country, university or organizational affiliation, etc.) within one
      region of the world or across regions.   Each directory entry includes
      background and contact information, lists of publications, brief
      descriptions of research and teaching activities, and relevant web links.
    </p>
    <p>
      The new AMESA site is designed to allow scholars to submit online their
      own entries and view and edit existing entries.    All submitted entries
      and edits are checked for typographical errors and then made publicly
      accessible in a timely fashion by the staff of the Global Studies Division
      of Columbia University Libraries. We can also suppress an entry upon
      request.
    </p>
    <p>We invite you to visit regularly the AMESA site to see on-going enhancements.</p>
    <p>Please send any questions or comments to amesa@libraries.cul.columbia.edu</p>
    <p>***NOTE: The content of this site is for educational purposes only.</p>
  </div><!--/span-->
</div><!--/row-->
