<div class="row">
  <div class="col">
    <h2>About</h2>
    <p>
      AMESA is a free online international directory containing records of
      individuals who have identified themselves as being involved in any aspect
      of scholarship in the fields of African Studies, Middle Eastern Studies or
      South Asian Studies. AMESA was launched on the web in September 2013.
    </p>
    <a href="/pages/about" class="btn">More About AMESA »</a>
  </div>
  <div class="col">
    <h2>Search</h2>
    <p>
      Search by name or keyword anywhere (e.g. subject of interest, city or
      country, university or affiliation, etc.) in English or French.
    </p>
    <a href="/search" class="btn">Perform A Search »</a>
  </div>
  <div class="col">
    <h2>Join</h2>
    <p>
      Submit your new entry, update an existing entry, or recommend another
      scholar for inclusion (with his/her approval)
    </p>
    <a href="/scholars/add" class="btn">Submit A New Scholar »</a>
  </div>
  <div class="col">
    <h2>Contact Us</h2>
    <p>
      Global Studies Division
      <br />
      Columbia University Libraries
      <br />
      e-mail: <a href="mailto:amesa@libraries.cul.columbia.edu">amesa@libraries.cul.columbia.edu</a>
      <br />
      phone: 212-854-8045
    </p>
    <a href="/search" class="btn">Perform A Search »</a>
  </div>
</div>
