@import '~bootstrap/scss/bootstrap.scss';

// use to overide max-width set by _grid.scss. May need to revisit this
// for responsiveness
#amesa-container {
    max-width: 1198px;
}

.banner {
    .amesa-overlay-text {
	padding: 1em;
	background-color: rgba(245, 245, 245, .5)
    }
}

.country-actions, .region-actions, .scholar-actions {
    text-align: center;
    a, a:visited, a:hover, a:active {
	color: #0088cc;
    }
    .btn-sm {
	border: 1px solid;
	text-align: center;
	font-size: inherit;
    }
    a, a:visited, a:hover, a:active {
	&.btn-danger {
	    color: #fff;
	}
    }
}

.home-page {
    .btn-sm {
	border: 1px solid;
    }
}

.language-select {
    .btn-sm {
	border: 1px solid;
	margin: 0.5em;
    }
}

// fcd1, 10/17/19: pagination scss based on example in stackoverflow post
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

.sidebar {
    padding-right: 0px;
}

.sidebar-nav {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px;

    a, a:visited, a:hover, a:active {
	color: #0088cc;
    }
    .nav {
	padding: 1em;
    }
    .nav-link {
	padding: 3px 15px;
    }
}

table.scholars-list {
    tr {
	th {
	    a, a:visited, a:hover, a:active {
		color: #0088cc;
	    }
	    a.desc::after {
		content: "⇡";
	    }
	    a.asc::after {
		content: "⇣";
	    }
	}
    }
}
