<h1>Countries</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Country Code</th>
      <th>Name (English)</th>
      <th>Name (French)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.name_eng %></td>
        <td><%= country.name_fra %></td>
        <td class="country-actions">
	  <%= link_to 'Edit', edit_country_path(country.id), class: 'btn-sm' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
