<h1>Regions</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name (English)</th>
      <th>Name (French)</th>
      <th>URL Formatted Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name_eng %></td>
        <td><%= region.name_fra %></td>
        <td><%= region.url_formatted_name %></td>
        <td class="region-actions">
	  <%= link_to 'Edit', edit_region_path(region.id), class: 'btn-sm' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
