<h1>Review Pending Scholar Edit</h1>
<%= render 'form', scholar: @scholar_edit, submit_text: 'Approve Edit' %>
<%= link_to 'Reject Edit', @scholar_edit, method: :delete,
                                                     data: { confirm: 'Are you sure?' },
                                                     class: 'btn btn-danger'
%>
